@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root{
    --space-sm: 0.75em;
}

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-red-500: #E31D1C;

    --color-zinc-100: #F2F2F2;

    --color-stone-200: #E3E3E3;

    --color-neutral-100: #F2F2F2;
    --color-neutral-300: #CECECE;
}

@utility container {
    max-width: 1112px;
}

@layer components {

    .home--whoarewe-subtitle{
        @apply font-normal text-2xl leading-10;
    }

    .home--whoarewe-subtitle span {
        @apply text-4xl;
    }

    .home--whoarewe-subtitle span.bold {
        @apply font-bold text-red-500 text-5xl italic;
    }

    .home--whoarewe-values{
        @apply text-sm text-center leading-[22px];
    }

    .home--whoarewe-values span {
        @apply font-bold text-red-500 text-base italic uppercase leading-5;
    }

    .home--route_title{
        @apply text-center;
    }

    .home--route_title span{
        @apply font-bold text-red-500 italic;
    }

    .home--distribution_title{
        @apply text-center;
    }

    .home--distribution_title span{
        @apply font-bold text-red-500 italic;
    }

    .banner-title{
        @apply absolute inset-0 flex flex-col justify-center items-center space-y-3 font-bold text-white text-2xl lg:text-8xl text-center italic;
    }

    .banner-title-secondary{
        @apply absolute inset-0 flex flex-col justify-center items-center font-bold text-white text-4xl md:text-8xl;
    }

    .section-title{
        @apply font-semibold text-2xl sm:text-4xl md:text-6xl leading-normal md:leading-16;
    }

    .section-title-lg{
        @apply font-semibold text-4xl sm:text-5xl lg:text-6xl leading-normal md:leading-16;
    }

    .section-title-secondary{
        @apply font-semibold text-2xl sm:text-4xl md:text-6xl leading-normal md:leading-16;
    }

    .section-title-secondary-2{
        @apply font-medium text-xl sm:text-3xl md:text-5xl leading-normal md:leading-16;
    }

    .section-title-secondary-3{
        @apply font-medium text-xl sm:text-3xl md:text-4xl leading-normal md:leading-16;
    }

    .btn-learn-more-banner {
        @apply bg-linear-120 from-white via-slate-300 hover:via-white to-white hover:to-70% hover:to-slate-300 px-4 py-3 rounded-full font-normal text-black text-lg not-italic hover:scale-110 hover:scale-3d transition-all hover:-translate-1 ease-in-out transform;
    }

    .distribution-card{
        @apply relative flex lg:flex-row flex-col bg-white w-full;
    }

    .distribution-card .distribution-body{
        @apply w-full lg:w-1/2 px-7 lg:px-14 py-10 border border-slate-400 flex flex-col justify-center space-y-4 lg:space-y-0 lg:justify-around;
    }

    .distribution-card .distribution-body-carousel{
        @apply w-full lg:w-1/2 relative;
    }

    .card-why{
        @apply flex flex-col items-center space-y-4 bg-white py-10 rounded-3xl w-full h-full;
    }

    header nav ul.menu-list{
        @apply flex md:flex-row flex-col justify-center items-center space-x-0 md:space-x-6 lg:space-x-14 text-lg;
    }

    header nav ul.menu-list li{
        @apply text-black hover:text-red-600 transition-all duration-300 ease-in-out;
    }

    header nav ul.menu-list li.active a{
        @apply font-semibold text-red-600;
    }

    [data-counter]::after {
        content: "+";
        position: absolute;
        right: -30px;

        @apply inset-y-0 flex items-center my-auto font-bold text-3xl;
    }

    .accordions{
        @apply flex flex-col w-full;
    }


    .accordion-item{
        @apply flex flex-col mx-4 lg:mx-0 rounded-lg transition-all duration-300 ease-in-out select-none;
    }

    .accordion-item .accordion-header{
        @apply flex lg:flex-row flex-col justify-between items-center px-14 pt-11 pb-8 rounded-lg cursor-pointer;
    }

    .accordion-item .accordion-header .accordion-title{
        @apply max-w-[324px] font-semibold text-gray-800 text-4xl md:text-5xl lg:text-left text-center leading-8 lg:leading-14;
    }

    .accordion-item .accordion-header .accordion-subtitle{
        @apply max-w-[376px] text-gray-500 text-sm md:text-xl text-center lg:text-right leading-7;
    }

    .accordion-item .accordion-content{
        @apply flex flex-col px-14 pb-14;
    }

    .accordion-item .accordion-content .accordion-content-outter{
        @apply  relative px-2 lg:px-4 w-full h-[160px] lg:h-[620px] overflow-hidden;
    }

    .accordion-item .accordion-content .accordion-content-inner{
        @apply px-4 h-full;
    }

    .accordion-item .accordion-content .accordion-content-inner .products-list{
        @apply gap-x-8 gap-y-5 lg:gap-x-16 lg:gap-y-10 grid grid-cols-2 lg:grid-cols-3 py-5 lg:py-10;
    }

    .swiper-maps-controls{
        @apply relative flex justify-center items-center px-4 py-2;
    }

    .career-filter-card{
        @apply bg-white shadow-lg px-2 py-2 border border-black rounded-lg;
    }

    .career-filter-card .filter-wrapper{
        @apply flex justify-center items-center space-x-1 space-x-7 min-w-[150px] cursor-pointer select-none;
    }

    .career-filter-card .filter-wrapper > p,
    .career-filter-card .filter-wrapper > span{
        @apply block;
    }

    .career-filter-card .checkbox-area{
        @apply top-[130%] z-10 absolute bg-white shadow-lg w-max;
    }

    .career-filter-card .checkbox-area .checkbox-list-item{
        @apply flex flex-col gap-4 p-4;
    }

    .career-filter-card .checkbox-area .checkbox-list-item .checkbox-item{
        @apply flex justify-between items-center gap-2;
    }

}

.accordion-item .accordion-content .ps__thumb-y{
    @apply bg-red-500/30 rounded-full;
}

.accordion-item .accordion-content .ps__rail-y:hover > .accordion-item .accordion-content .ps__thumb-y, .accordion-item .accordion-content .ps__rail-y:focus > .ps__thumb-y, .accordion-item .accordion-content .ps__rail-y.ps--clicking .ps__thumb-y{
    @apply bg-red-600 rounded-full;
}

.accordion-item .accordion-content .ps .ps__thumb-x:hover, .accordion-item .accordion-content .ps .ps__thumb-y:hover, .accordion-item .accordion-content .ps .ps__thumb-x:focus, .accordion-item .accordion-content .ps .ps__thumb-y:focus, .accordion-item .accordion-content .ps .ps__thumb-x.ps--clicking, .accordion-item .accordion-content .ps .ps__thumb-y.ps--clicking{
    @apply transition-colors duration-300 ease-in-out;
}

.accordion-item .accordion-content .ps__rail-y:hover > .ps__thumb-y, .accordion-item .accordion-content .ps__rail-y:focus > .ps__thumb-y, .accordion-item .accordion-content .ps__rail-y.ps--clicking .ps__thumb-y{
    @apply bg-red-600 rounded-full transition-colors duration-300 ease-in-out;
}

.testimonial-swiper-pagination .swiper-pagination-bullet{
    @apply bg-gray-400 opacity-50 rounded-none w-9 h-1 transition-all duration-300 ease-in-out;
}

.testimonial-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    @apply bg-gray-800;
}

.brand-tab-link{
    @apply pb-2 border-transparent hover:border-red-400 border-b-2 hover:border-b-2 text-center transition-all duration-300 ease-in-out;
}

.brand-tab-link.active{
    @apply pb-2 border-red-400 border-b-2;
}

.alcohol-brands-swiper .swiper-slide{
    @apply flex justify-center items-center;
}

.alcohol-swiper-button-next{
    @apply select-none;
}

.alcohol-swiper-button-prev{
    @apply select-none;
}

.alcohol-swiper-button-prev.swiper-button-disabled svg path{
    @apply stroke-gray-400;
}
.alcohol-swiper-button-next.swiper-button-disabled svg path{
    @apply stroke-gray-400;
}

.consumer-goods-swiper-button-prev{
    @apply select-none;
}

.consumer-goods-swiper-button-prev.swiper-button-disabled svg path{
    @apply stroke-gray-400;
}
.consumer-goods-swiper-button-next{
    @apply select-none;
}

.consumer-goods-swiper-button-prev.swiper-button-disabled svg path{
    @apply stroke-gray-400;
}

.swiper-maps-controls .swiper-maps-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    @apply static flex flex-1 justify-center items-center w-auto shrink grow-0;
}

.swiper-maps-controls .swiper-pagination-bullet{
    @apply bg-gray-400 opacity-50 rounded-full w-3 h-3 transition-all duration-300 ease-in-out;
}

.swiper-maps-controls .swiper-pagination-bullet.swiper-pagination-bullet-active{
    @apply bg-gray-800 opacity-100 w-3.5 h-3.5;
}

.swiper-maps-controls .swiper-button-next{
    @apply relative inset-auto object-center translate-y-2.5 cursor-pointer select-none transform;
}
.swiper-maps-controls .swiper-button-prev{
    @apply relative inset-auto object-center translate-y-2.5 cursor-pointer select-none transform;
}

.swiper-maps-controls .swiper-button-next::after,
.swiper-maps-controls .swiper-button-prev::after{
    @apply hidden;
}


.swiper.swiper-dis-content-0{
    @apply static;
}

.distribution-card .left-arrow-swiper{
    @apply absolute top-[75%] left-10 lg:top-1/2 lg:left-auto transform -translate-y-1/2 -translate-x-1/2 z-20 cursor-pointer select-none;
}

.distribution-card .right-arrow-swiper{
    @apply absolute top-[75%] right-10 lg:top-1/2 lg:right-0 transform -translate-y-1/2 translate-x-1/2 z-20 cursor-pointer select-none;
}

.distribution-card .left-arrow-swiper.swiper-button-disabled svg path{
    @apply stroke-gray-400;
}
.distribution-card .right-arrow-swiper.swiper-button-disabled svg path{
    @apply stroke-gray-400;
}

.distribution-card .swiper-pagination{
    @apply right-0 bottom-0 left-auto z-30 absolute text-right transform;
}

.distribution-card .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet{
    @apply bg-gray-400 opacity-50 rounded-full w-3 h-3 transition-all duration-300 ease-in-out;
}

.distribution-card .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
    @apply bg-gray-100 opacity-100 w-3.5 h-3.5;
}

.card_distribution__wrapper{
    @apply flex flex-col mt-20;
}

.the_card{
    @apply top-0 sticky;
}

#tooltip{
    @apply invisible z-50 absolute bg-stone-200 opacity-0 shadow-stone-600/50 shadow-xl py-4 pr-16 pl-4 rounded-xl transition-all duration-300 ease-in-out;
}

#tooltip.tooltip-active{
    @apply visible opacity-100;
}

#tooltip .tooltip-header{
    @apply mb-3 font-bold text-gray-800 text-lg;
}

#tooltip .tooltip-body{
    @apply flex flex-col space-y-2 text-gray-600 text-xs;
}

#tooltip .tooltip-body p{
    @apply flex items-center space-x-2
}

#tooltip .tooltip-body a:hover{
    @apply text-red-600 underline;
}

.swiper-half-button-navigation-wrapper .swiper-button-next-half-wrapper-swiper,
.swiper-half-button-navigation-wrapper .swiper-button-prev-half-wrapper-swiper{
    @apply relative inset-auto;
}

.swiper-half-button-navigation-wrapper .swiper-button-next-half-wrapper-swiper::after,
.swiper-half-button-navigation-wrapper .swiper-button-prev-half-wrapper-swiper::after{
    @apply hidden;
}

@layer utilities{

    /* Radar spreading effect */
    .animate-radar {
        animation: radar-spread 2s infinite;
    }

    @keyframes radar-spread {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(4); /* Adjust scale for the spread size */
            opacity: 0;
        }
    }

    .text-outline {
        -webkit-text-stroke: 1px black;
        color: transparent;
    }
}
